<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysecret.cn.mapper.UserBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mysecret.cn.entity.UserBase">
        <id column="uid" property="uid" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="user_salt" property="userSalt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, user_name, user_password, user_salt
    </sql>

</mapper>
